<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<h1>Home page</h1>
	<nav>
		<ul>
			<li><a href="/">Index</a></li>
			<li><a href="display">Display configration</a></li>
			<li><a href="/">Make an order</a></li>
		</ul>
	</nav>
</body>
</html>